<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/overwrite.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
	<header>
		<img src="/images/roku.svg" alt="Roku logo" width="90"><span>FlashBack</span>
		<nav>
			<ul>
				<li>Kids</li>
				<li><i class="fas fa-user-circle"></i></li>
				<li><i class="fas fa-cog"></i></li>
			</ul>
		</nav>
	</header>

	<main>
		{{{ body }}}
	</main>

	<footer>
		<span>Roku Video App.</span>
		<p class="copy">
			&copy; 2018 Totally Not Fake, Inc.
		</p>

		<ul>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/zcarreon/Carreon_Zachary_VidAppFinal"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/intent/tweet?u=https://github.com/zcarreon/Carreon_Zachary_VidAppFinal&text=Hey, check out this movie site!"><i class="fab fa-twitter-square"></i></li>
			<li><a href="https://plus.google.com/share?url=https://github.com/zcarreon/Carreon_Zachary_VidAppFinal"><i class="fab fa-google-plus-square"></i></a></li>
			<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
		</ul>
	</footer>

  <script>
    var appData = {
      movies : {{{ data }}} //Grab the undefinded data set
    }
  </script>
	{{#if mainpage }}
		<script src="/js/main.js"></script>
	{{/if}}
	{{#if videopage }}
		<script src="/js/videoVM.js"></script>
	{{/if}}
</body>
</html>
