<section id="app" class="movie-genres">
  <div class="movie-wrapper">
    <div>
      <h4 class="movie-title">{{ defaultMovie.movies_title }}</h4>
    </div>
    <video autoplay loop controls>
      <source src="video/{{ defaultMovie.movies_trailer }}" type="video/mp4">
        <!--Should load in the fallback sources here -->
    </video>
  </div>
  <section class="genre-lists" v-for="genre in genres">
    <div v-if="genre.movies.length > 0">
    <div class="genre-item">
      <h6 class="genre-name">${ genre.name }</h6>
      <div class="movie-list" v-for="movie in genre.movies">
        <a :href="'/movies/' + movie.movies_id + '/' + movie.movies_trailer">
        <img class="movie-thumb" :src="'/images/' + movie.movies_cover" :alt="movie.movies_title">
        </a>
      </div>
    </div>
  </div>
  </section>
</section>
